body {
  background-color: #e8e8e9;
}

.app_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app_stats {
  display: flex;
  justify-content: space-between;

}